<div class="footer-body bg-white shadow-sm d-flex" style="height: 50px">
    <div class="container p-0 d-flex align-items-center">
        <p class="text-secondary m-0">@NIGHT RIDER TIRES: 2024</p>
    </div>
</div>