<%- include("header.ejs") %>
<body>
    <%- include("navbar.ejs") %>
    <div class="add-job-page bg-gray pt-4 pb-4">
        <div class="page-heading container bg-white rounded p-3 text-primary ">
            <strong>MANAGE JOBS</strong>
        </div>
        <div class="page-heading container bg-white rounded p-3 mt-5">
            <div class="loader-container w-100 d-flex justify-content-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <table id="jobTable" class="d-none w-100">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Job Date</th>
                        <th>Company</th>
                        <th>Bay</th>
                        <th>Unit</th>
                        <th>Make</th>
                        <th>Vin#</th>
                        <th>Year</th>
                        <th>Millage</th>
                        <th>LIC</th>
                        <th>Alignment</th>
                    </tr>
                </thead>
                <tbody>
    
                </tbody>
            </table>
        </div>
        <script src="../scripts/invoiceGen.js" type="module"></script>
    </div>
<%- include("footer.ejs") %>