<%- include("header.ejs") %>
<body>
    <%- include("navbar.ejs") %>
    <div class="add-job-page bg-gray pt-4 pb-4">
        <div class="page-heading container bg-white rounded p-3 text-primary ">
            <strong>MANAGE SERVICES</strong>
        </div>
        <div class="page-heading container bg-white rounded p-3 mt-5">
            <table id="servicesTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Service Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
    
                </tbody>
            </table>
        </div>
    </div>
<%- include("footer.ejs") %>